*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-normal);
}

a {
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}

.wrapper{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;
    border: 1px solid black;
    background-color: var(--white);
    padding: 2rem;
}