@font-face {
    font-family: "font-light";
    src: url(../fonts/museo-sans-rounded-webfont/MuseoSansRounded300.woff);
}
@font-face {
    font-family: "font-normal";
    src: url(../fonts/museo-sans-rounded-webfont/MuseoSansRounded500.woff);
}
@font-face {
    font-family: "font-bold";
    src: url(../fonts/museo-sans-rounded-webfont/MuseoSansRounded700.woff);
}
@font-face {
    font-family: "font-extra-bold";
    src: url(../fonts/museo-sans-rounded-webfont/MuseoSansRounded900.woff);
}

:root{
    /* colors */
    --light-brownish: #c0ab9f;
    --light-brown:#a39161;
    --dark-brown:#685225;
    --red:#ff0000;
    --gray:#e1e1e1;
    --black:#000;

    /* font weight */
    --text-bold: bold;
    --text-normal: normal;

    /* font family */
    --font-light: 'font-light';
    --font-normal: 'font-normal';
    --font-bold: 'font-bold';
    --font-extra-bold: 'font-extra-bold';

    
}