.body-background--amplifier{
    background-image: url(/img/baggrunde/Colourbox-hifi-speaker.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.body-background--speakers{
    background-image: url(/img/baggrunde/speakers.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}