.footer{
    width: 100vw;
    background-color: var(--light-brown);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    color: var(--white);
    padding: 1rem;

}
.footer .footer__left{
    display: flex;
}
.footer .footer__left__text{
    color: var(--black);
    width: 18rem;
    font-family: font-bold;

}
.footer .footer__left__privacy{
    display: flex;
    gap: 0.6rem;
    text-decoration: underline;
    font-family: font-light;
}
.footer .footer__right img{
    width: 2rem;
    height: 2rem;
}

footer .footer__right{
    display: flex;
}