/* Defining header grid */
.header {
    display: grid;
    grid-row: repeat(2, 1fr);
    font-family: var(--font-normal);
}

.header__information {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: var(--black-transparent);
}

.header__information--brands {
    background-color: var(--black);
    border-bottom: 0.5px solid var(--medium-gray);
}

.header__navigation {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    background-color: var(--black);
}


.header__information-container {
    grid-column: 10 / 11;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
}



/* Styling for header */
.header__image {
    max-height: 2rem;
}

.header__subscription {
    display: flex;
    align-items: center;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    padding-inline: 0.5rem;
    color: var(--white);
    height: 2rem;
}

.header__subscription-image {
    max-height: 1rem;
    border-right: 1px solid var(--black);
    padding-right: 0.5rem;
    margin-right: 0.5rem;
}

.header__navigation-list {
    color: var(--white);
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
    padding-block: 1rem;
}

.header__navigation-link--active {
    color: var(--light-brown);
}

/* .header .information{
    background-color: var(--black-transparent);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.information__right-container{
    display: inherit;
}

.header .information--brands{

}

.header .information--shoplist{
    background-color: var(--black);
    border-bottom: 0.5px solid var(--medium-gray);
    padding: 1rem 0 1rem 1rem;
}

.information__logo-text{
    color: #fff;
}

.information__logo-image{
    width: 100%;
}

.information img{
    max-width: 3.5rem;
    max-height: 3.5rem;
    padding: 5px;
}

.information__subscription{
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    background-color: var(--blue);
    display: flex;
    height: 2rem;
    padding: 1.5rem;
    border-radius: 9px;
    border: 0rem;
    justify-content: space-evenly;
    align-items: center;
}

.information__subscription img{
    max-width: 3rem;
    border-right: 1px solid black;
    padding-right: 1rem;
    margin-right: 1rem;
}

.information__subscription{
    font-family: var(--font-bold);
    font-size: 1.5rem;
    color: var(--white);
}

.header .navigation{
    background-color: var(--black);
    height: max-content;
}
.navigation__list{
    color: var(--white);
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
}
.navigation__link{
    padding-top:  1.8rem;
    padding-bottom: 2rem;
    font-family: var(--font-bold);
}

.navigation__active{
    color: var(--light-brown);
} */