.header .information{
    background-color: var(--black-transparent);
    display: flex;
    justify-content: right;
    gap: 2rem;
}

.information img{
    max-width: 4rem;
    max-height: 4rem;
}

.information__subscription{
    background-color: var(--blue);
    display: flex;
    height: 4rem;
    width: 12rem;
    border-radius: 9px;
    border: 0rem;
}
.information__subscription img{
    width: 3rem;
}

/* .header .navigation{
    background-color: var(--black);
}
.navigation__list{
    color: var(--white);
    display: flex;
} */