.hero {
    background-image: url(/img/baggrunde/removetextfromimage_cleanup.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: 6rem;
}

.hero__text {
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-light);
    color: var(--white);
    text-transform: uppercase;
}