.slidergallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    font-size: 2em;
    padding: 2%;
}


.slidergallery i {
    color: var(--light-brownish);
}





