.logo{
    max-width: fit-content;
    margin: auto;
    margin-block: 6rem;
}

.logo--small{
    margin: 0;
    width: 70%;
}

.logo__image{
    width: 100%;
}

.logo__text{
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--font-normal);
}

.logo__text--small{
    font-size: 0.275rem;
}
