.logo{
    max-width: fit-content;
    margin: auto;
    margin-block: 6rem;
}

.logo__image{
    width: 100%;
}

.logo__text{
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--font-normal);
}